<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
	<link rel="stylesheet" href="style/style.css"/>
</head>

<body>
	<div id="signup-response" class="alert alert-sucess alert.dimissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
	
		<span th:text="${mensagem}"></span>
	</div>

	<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>